In [13]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from tqdm import tqdm

In [2]:
발생 = pd.read_csv('발생01062206_수정중_교수님틀.csv')
사망 = pd.read_csv('사망0121_수정중_교수님틀.csv')
성별 = pd.read_csv('성별0121_수정중_교수님틀.csv')

C:\Users\kelly\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\kelly\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# labeling

## 시도lst

시도lst = ['서울', '부산', '대구', '인천',
      '광주', '대전', '울산', '경기', '강원', 
      '충북', '충남', '전북', '전남', '경북',
      '경남', '제주', '세종']
len(시도lst) # 17

## name2병id (len 63)

급1병_lst = ['에볼라바이러스병', '마버그열', '라싸열', '크리미안콩고출혈열', '남아메리카출혈열', '리프트밸리열', '두창', '페스트',
            '탄저', '보툴리눔독소증', '야토병', '중증급성호흡기증후군(SARS)', '중동호흡기증후군(MERS)', '동물인플루엔자 인체감염증',
            '신종인플루엔자', '디프테리아']

급2병_lst = ['수두', '홍역', '콜레라', '장티푸스', '파라티푸스', '세균성이질', '장출혈성대장균감염증', 'A형간염', '백일해',
            '유행성이하선염', '풍진(2018년이전)', '풍진(선천성)', '풍진(후천성)', '폴리오', '수막구균 감염증',
            'b형헤모필루스인플루엔자', '폐렴구균 감염증', '한센병', '성홍열', '반코마이신내성황색포도알균(VRSA) 감염증',
            '카바페넴내성장내세균속균종(CRE) 감염증', 'E형간염']

급3병_lst = ['파상풍', 'B형간염', '일본뇌염', 'C형간염', '말라리아', '레지오넬라증', '비브리오패혈증', '발진티푸스', '발진열',
             '쯔쯔가무시증', '렙토스피라증', '브루셀라증', '공수병', '신증후군출혈열',
             '크로이츠펠트-야콥병(CDJ) 및 변종크로이츠펠트-야콥병(vCJD)', '황열', '뎅기열', '큐열', '웨스트나일열', '라임병',
             '진드기매개뇌염', '유비저', '치쿤구니야열', '중증열성혈소판감소증후군(SFTS)', '지카바이러스감염증']

병name_lst = 급1병_lst + 급2병_lst + 급3병_lst
len(병name_lst) # 63

병id_lst = [i for i in range(len(급1병_lst))] + [i for i in range(len(급2병_lst))] + [i for i in range(len(급3병_lst))]

name2병id = {병name_lst[i] : 병id_lst[i] for i in range(len(병id_lst))}
len(name2병id) # 63

급id_match_lst = [1]*len(급1병_lst) + [2]*len(급2병_lst) + [3]*len(급3병_lst)

In [10]:
병name2급id = {병name_lst[i] : f'{급id_match_lst[i]}급' for i in range(len(병name_lst))}

In [12]:
# 병name2급id

In [15]:
## 지역 (len 272)
군구서울 = ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구',
           '종로구', '중구', '중랑구']

군구부산 = ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구']

군구대구 = ['남구', '달서구', '달성군', '동구', '북구', '서구', '수성구', '중구']

군구인천 = ['강화군', '계양구', '미추홀구', '남동구', '동구', '부평구', '서구', '연수구', '옹진군', '중구']

군구광주 = ['광산구', '남구', '동구', '북구', '서구']

군구대전 = ['대덕구', '동구', '서구', '유성구', '중구']

군구울산 = ['남구', '동구', '북구', '울주군', '중구']

군구경기 = ['가평군', '고양시 덕양구', '고양시 일산동구', '고양시 일산서구', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시 소사구', '부천시 오정구', '부천시 원미구', '성남시 분당구', '성남시 수정구',
           '성남시 중원구', '수원시 권선구', '수원시 영통구', '수원시 장안구', '수원시 팔달구', '시흥시', '안산시 단원구', '안산시 상록구', '안성시', '안양시 동안구', '안양시 만안구', '양주시', '양평군', '여주시', '연천군', '오산시', '용인시 기흥구', '용인시 수지구',
           '용인시 처인구', '의왕시', '의정부시', '이천시', '파주시', '평택시', '포천시', '하남시', '화성시', '양주군', '고양시 일산구', '포천군', '용인시', '남양주', '고양시 일산동', '안산시', '부천시']

군구강원 = ['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시', '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군']

군구충북 = ['괴산군', '단양군', '보은군', '영동군', '옥천군', '음성군', '제천시',' 증평군', '진천군', '청원군', '(구)청주시 상당구', '(구)청주시 흥덕구', '충주시', '청주시 상당구', '청주시 흥덕구', '청주시 서원구', '청주시 청원구']

군구충남 = ['계룡시', '공주시', '금산군', '논산시', '당진시', '보령시', '부여군', '서산시', '서천군', '아산시', '연기군', '예산군', '천안시', '청양군', '태안군', '홍성군', '천안시 동남구', '천안시 서북구']

군구전북 = ['고창군', '군산시' ,'김제시', '남원시', '무주군', '부안군', '순창군', '완주군', '익산시', '임실군', '장수군', '전주시 덕진구', '전주시 완산구', '정읍시', '진안군', '전주시']

군구전남 = ['강진군', '고흥군', '곡성군', '광양시', '구례군', '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '신안군', '여수시', '영광군', '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군']

군구경북 = ['경산시', '경주시', '고령군', '구미시', '군위군', '김천시', '문경시', '봉화군', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시', '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군',
           '포항시 남구', '포항시 북구', '포항시']

군구경남 = ['거제시', '거창군', '고성군', '김해시', '남해군', '마산시', '밀양시', '사천시', '산청군', '양산시', '의령군', '진주시', '진해시', '창녕군', '창원시', '통영시', '하동군', '함안군', '함양군', '합천군', '창원시 마산합포구', '창원시 마산회원구',
           '창원시 성산구', '창원시 의창구', '창원시 진해구']

군구제주 = ['서귀포시', '제주시', '남제주군', '북제주군']

군구세종 = ['세종시']



### 각 시도별 군구 길이
# for i in 시도lst:
#     i, len(globals()[f'군구{i}'])


### 모든 시도의 모든 군구의 수
군구all = 군구서울 + 군구부산 + 군구대구 + 군구인천 + 군구광주 + 군구대전 + 군구울산 + 군구경기 + 군구강원 + 군구충북 + 군구충남 + 군구전북 + 군구전남 + 군구경북 + 군구경남 + 군구제주 + 군구세종
len(군구all) # 272

272

In [25]:
군구2시도lst = []
for i in 시도lst:
    군구2시도lst.extend([i]*len(eval(f'군구{i}')))
    
len(군구2시도lst)

272

In [26]:
군구2시도dic = {군구all[i]:군구2시도lst[i] for i in range(len(군구all))}

In [76]:
군구id2군구dic = {i+1:군구all[i] for i in range(len(군구all))}

In [ ]:
병name2급id
군구2시도dic

# 발생 결측에서의 특이점
- 결측이 없음. 0으로 나타남.

In [50]:
발발 = pd.read_csv('발생2001_01-2022_06.csv')
발발.head().isnull().sum().sum()

0

# 발생에 급수 mapping

In [29]:
발생['급수'] = 발생.병.map(병name2급id)
발생 = 발생[['연도', '월', '급수', '병', '시도', '군구', '발생수']]

In [47]:
발생.head()

     연도  월  급수          병  시도   군구  발생수
0  2001  1  1급   에볼라바이러스병  서울  강남구    0
1  2001  1  1급       마버그열  서울  강남구    0
2  2001  1  1급        라싸열  서울  강남구    0
3  2001  1  1급  크리미안콩고출혈열  서울  강남구    0
4  2001  1  1급   남아메리카출혈열  서울  강남구    0

# 사망에는 mapping할 거 없음.

In [36]:
사망 = 사망[['연도', '월', '급수', '병', '시도', '사망수']]

In [60]:
사망.사망수 = list(map(lambda x : np.NaN if x == '-' else int(x), 사망.사망수))

In [63]:
사망.사망수.isnull().sum()

125052

# 성별에 급수 mapping

In [69]:
성별['급수'] = 성별.병.map(병name2급id)

In [74]:
# 성별.head()
성별.tail()

,연도,병,군구,0~4세_남,0~4세_여,5~9세_남,5~9세_여,10~14세_남,10~14세_여,15~19세_남,...,45~49세_여,50~54세_남,50~54세_여,55~59세_남,55~59세_여,60~64세_남,60~64세_여,65세 이상_남,65세 이상_여,급수
359851,2017년,지카바이러스감염증,272,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3급
359852,2018년,지카바이러스감염증,272,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3급
359853,2019년,지카바이러스감염증,272,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3급
359854,2020년,지카바이러스감염증,272,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3급
359855,2021년,지카바이러스감염증,272,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3급

In [ ]:
성별['군구'] = 성별.군구.map(군구id2군구dic)
성별['시도'] = 성별.군구.map(군구2시도dic)

In [83]:
성별 = 성별[['연도', '급수', '병', '시도', '군구', '0~4세_남', '0~4세_여', '5~9세_남', '5~9세_여', '10~14세_남',
       '10~14세_여', '15~19세_남', '15~19세_여', '20~24세_남', '20~24세_여', '25~29세_남',
       '25~29세_여', '30~34세_남', '30~34세_여', '35~39세_남', '35~39세_여', '40~44세_남',
       '40~44세_여', '45~49세_남', '45~49세_여', '50~54세_남', '50~54세_여', '55~59세_남',
       '55~59세_여', '60~64세_남', '60~64세_여', '65세 이상_남', '65세 이상_여']]

In [14]:
for i in tqdm(성별.columns[5:]):
    성별[i] = list(map(lambda x : np.NaN if x == '-' else int(x), 성별[i]))

100%|██████████████████████████████████████████████████████████████████████████████████| 28/28 [00:12<00:00,  2.32it/s]

In [18]:
for i in 성별.columns[5:]:
    i, 성별[i].isnull().sum().sum()

('0~4세_남', 86768)

('0~4세_여', 86768)

('5~9세_남', 86768)

('5~9세_여', 86768)

('10~14세_남', 86768)

('10~14세_여', 86768)

('15~19세_남', 86768)

('15~19세_여', 86768)

('20~24세_남', 86768)

('20~24세_여', 86768)

('25~29세_남', 86768)

('25~29세_여', 86768)

('30~34세_남', 86768)

('30~34세_여', 86768)

('35~39세_남', 86768)

('35~39세_여', 86768)

('40~44세_남', 86768)

('40~44세_여', 86768)

('45~49세_남', 86768)

('45~49세_여', 86768)

('50~54세_남', 86768)

('50~54세_여', 86768)

('55~59세_남', 86768)

('55~59세_여', 86768)

('60~64세_남', 86768)

('60~64세_여', 86768)

('65세 이상_남', 86768)

('65세 이상_여', 86768)

# 저장

In [84]:
발생.to_csv('최종발생01012206.csv', index = False) # 발생에 NaN 정말 없는지 확인 필요함.
사망.to_csv('최종사망0121.csv', index = False)
성별.to_csv('최종성별0121.csv', index = False)

In [2]:
발생 = pd.read_csv('최종발생01012206.csv')
사망 = pd.read_csv('최종사망0121.csv')
성별 = pd.read_csv('최종성별0121.csv')

C:\Users\kelly\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [87]:
발생.shape
사망.shape
성별.shape

(4421088, 7)

(269892, 6)

(359856, 33)

In [21]:
사망.사망수.isnull().sum()

125052

In [25]:
성성 = pd.read_csv('성별2001-2021.csv')

C:\Users\kelly\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [27]:
성성.head()

,연령단위,성별,2001년,2002년,2003년,2004년,2005년,2006년,2007년,2008년,...,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,병,군구
0,0~4세,남,-,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,에볼라바이러스병,1
1,0~4세,여,-,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,에볼라바이러스병,1
2,5~9세,남,-,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,에볼라바이러스병,1
3,5~9세,여,-,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,에볼라바이러스병,1
4,10~14세,남,-,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,에볼라바이러스병,1

In [39]:
성연도 = ['2001년', '2002년', '2003년', '2004년', '2005년', '2006년',
         '2007년', '2008년', '2009년', '2010년', '2011년', '2012년', '2013년', '2014년',
         '2015년', '2016년', '2017년', '2018년', '2019년', '2020년', '2021년']

for i in 성연도:
    성성[i] = list(map(lambda x : np.NaN if x == '-' else int(x), 성성[i]))

In [49]:
# 성성.isnull().sum(axis = 1).sum()
성성.isnull().sum(axis = 0)

연령단위          0
성별            0
2001년    243712
2002년    228480
2003년    228480
2004년    228480
2005년    220864
2006년    190400
2007년    190400
2008년    190400
2009년    190400
2010년    190400
2011년     68544
2012년     68544
2013년     53312
2014년     45696
2015년     38080
2016년     30464
2017년      7616
2018년      7616
2019년      7616
2020년         0
2021년         0
병             0
군구            0
dtype: int64

In [59]:
gb = 성성.groupby(['연령단위']).count()

In [70]:
gb = gb[성연도]

In [72]:
34272 * 21
gb.sum(axis=1)

719712

연령단위
0~4세      546176
10~14세    546176
15~19세    546176
20~24세    546176
25~29세    546176
30~34세    546176
35~39세    546176
40~44세    546176
45~49세    546176
50~54세    546176
55~59세    546176
5~9세      546176
60~64세    546176
65세 이상    546176
dtype: int64

In [71]:
34272 * 21 - (gb.sum(axis=1))

연령단위
0~4세      173536
10~14세    173536
15~19세    173536
20~24세    173536
25~29세    173536
30~34세    173536
35~39세    173536
40~44세    173536
45~49세    173536
50~54세    173536
55~59세    173536
5~9세      173536
60~64세    173536
65세 이상    173536
dtype: int64

In [44]:
성성.shape

(479808, 25)

In [46]:
86768 * len(성별.columns[5:])

2429504

# 성별의 결측에서의 특이점
- 모든 성별 연령에서 결측 수가 동일함.

In [20]:
for i in 성별.columns[5:]:
    i, 성별[i].isnull().sum()

('0~4세_남', 86768)

('0~4세_여', 86768)

('5~9세_남', 86768)

('5~9세_여', 86768)

('10~14세_남', 86768)

('10~14세_여', 86768)

('15~19세_남', 86768)

('15~19세_여', 86768)

('20~24세_남', 86768)

('20~24세_여', 86768)

('25~29세_남', 86768)

('25~29세_여', 86768)

('30~34세_남', 86768)

('30~34세_여', 86768)

('35~39세_남', 86768)

('35~39세_여', 86768)

('40~44세_남', 86768)

('40~44세_여', 86768)

('45~49세_남', 86768)

('45~49세_여', 86768)

('50~54세_남', 86768)

('50~54세_여', 86768)

('55~59세_남', 86768)

('55~59세_여', 86768)

('60~64세_남', 86768)

('60~64세_여', 86768)

('65세 이상_남', 86768)

('65세 이상_여', 86768)

In [22]:
성별.columns

Index(['연도', '급수', '병', '시도', '군구', '0~4세_남', '0~4세_여', '5~9세_남', '5~9세_여',
       '10~14세_남', '10~14세_여', '15~19세_남', '15~19세_여', '20~24세_남', '20~24세_여',
       '25~29세_남', '25~29세_여', '30~34세_남', '30~34세_여', '35~39세_남', '35~39세_여',
       '40~44세_남', '40~44세_여', '45~49세_남', '45~49세_여', '50~54세_남', '50~54세_여',
       '55~59세_남', '55~59세_여', '60~64세_남', '60~64세_여', '65세 이상_남', '65세 이상_여'],
      dtype='object')

In [24]:
성별[성별['0~4세_남'].isnull()]

,연도,급수,병,시도,군구,0~4세_남,0~4세_여,5~9세_남,5~9세_여,10~14세_남,...,45~49세_남,45~49세_여,50~54세_남,50~54세_여,55~59세_남,55~59세_여,60~64세_남,60~64세_여,65세 이상_남,65세 이상_여
0,2001년,1급,에볼라바이러스병,서울,강남구,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002년,1급,에볼라바이러스병,서울,강남구,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2003년,1급,에볼라바이러스병,서울,강남구,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004년,1급,에볼라바이러스병,서울,강남구,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005년,1급,에볼라바이러스병,서울,강남구,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359845,2011년,3급,지카바이러스감염증,세종,세종시,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359846,2012년,3급,지카바이러스감염증,세종,세종시,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359847,2013년,3급,지카바이러스감염증,세종,세종시,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359848,2014년,3급,지카바이러스감염증,세종,세종시,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359849,2015년,3급,지카바이러스감염증,세종,세종시,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN